<div class="logo">
	<%= image_tag 'shopify_logo.png' %>	
</div>
<div class="content">
	<h1>
		Hello Rails
	</h1>

	<div class="text">
		This app is created to apply for shopify winter Intern (Data Science) 2019. It was a pleasure learning.
	</div>
</div>

<div class="name-email">
	<p>by <b>Vishesh Devgan</b></p>
	<p><b>vdevgan100@gmail.com</b></p>
</div>